.navbar-nav a{
    color: #fff;
    text-decoration: none;
}
.padding-all {
padding:15px
}
.footer{
    color: #fff;
}
.bg-gray {
    background: gold;
}
.sidebar {min-height:300px}
.currency-form-wrap{background-color: cadetblue;max-width: 400px; margin:0 auto ; padding: 20px}
.currency-form-wrap input, .currency-form-wrap label {display: block; width:100%;}
.currency-form-wrap label {color: #fff; margin-bottom: 7px; font-size: 16px;}
.button-grp {text-align: center; padding:10px 0}
.upDownArrow  {
    text-align: center;
    padding-top:20px
}
.upDownArrow h1 {
    display: inline-block;
    padding:3px 10px;
    color: #000;
    font-size: 27px;
    background-color: yellow;
    cursor: pointer;
}